@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
.wrapper {
  font-family: "Source Sans Pro", sans-serif;
  color: #FFFFFF;
  margin-top: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  overflow: hidden;
  height: 100%;
}

.wrapper__second {
  height: 850px;
}

.converter-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
}
.converter-block .converter-block-side {
  position: relative;
  background: #3e4046;
  border-radius: 10px;
  padding-bottom: 101px;
}
.converter-block .converter-block-side .side-title {
  font-size: 25px;
  line-height: 80%;
  color: #FFFFFF;
  margin-bottom: 17px;
  padding: 15px;
  display: inline-block;
  background: #3e4046;
  margin-top: -10px;
  border-radius: 10px;
}
.converter-block .converter-block-side .title-give-second-block {
  display: block;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: -4px;
  transition: border-radius 0.5s ease;
  text-transform: uppercase;
}
.converter-block .converter-block-side .converter-input {
  font-size: 20px;
  margin-top: -37px;
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.converter-block .converter-block-side .converter-input .input-give__label {
  position: absolute;
  right: 42px;
}
.converter-block .converter-block-side .converter-input .input-get__label {
  position: absolute;
  right: 15px;
}
.converter-block .converter-block-side .converter-input .input-get__label,
.converter-block .converter-block-side .converter-input .input-give__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #757575;
}
.converter-block .converter-block-side .converter-input .input-get__label img,
.converter-block .converter-block-side .converter-input .input-give__label img {
  width: 30px;
  margin: 0 7px;
  opacity: 1 !important;
}
.converter-block .converter-block-side .converter-input input {
  border: none;
  box-shadow: none;
  background: #3e4046;
  padding: 15px 10px;
  padding-right: 40px;
  font-size: 20px;
  color: #fff;
  outline: none;
  border-bottom: 1px solid #fff;
  width: 100%;
}
.converter-block .converter-block-side .converter-input input:focus-within {
  border-bottom: 1px solid #558ac7;
  transition: 0.5s linear;
}
.converter-block .converter-block-side .converter-input__give {
  padding-right: 42px;
}
.converter-block .converter-block-side .converter-input__get {
  padding-left: 35px;
}
.converter-block .converter-block-side .converter-give-currency li {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #505050;
  position: relative;
}
.converter-block .converter-block-side .converter-give-currency li .converter-give-currency__icon {
  display: flex;
}
.converter-block .converter-block-side .converter-give-currency li .converter-give-currency__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 10px;
  text-transform: uppercase;
}
.converter-block .converter-block-side .converter-give-currency li img {
  border: 5px solid #e0e0e0;
  height: 25px;
  width: 25px;
  border-radius: 50px;
}
.converter-block .converter-block-side .converter-give-currency li:hover {
  cursor: pointer;
  transition: 0.5s ease;
  border-left: 3px solid #558ac7;
  background: #565b69;
}
.converter-block .converter-block-side .converter-get-currency li {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #505050;
  position: relative;
}
.converter-block .converter-block-side .converter-get-currency li .converter-give-currency__icon {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.converter-block .converter-block-side .converter-get-currency li .converter-give-currency__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 10px;
  text-transform: uppercase;
}
.converter-block .converter-block-side .converter-get-currency li img {
  border: 5px solid #e0e0e0;
  height: 25px;
  width: 25px;
  border-radius: 50px;
}
.converter-block .converter-block-side .converter-get-currency li:hover {
  cursor: pointer;
  transition: 0.5s ease;
  border-left: 3px solid #558ac7;
  background: #565b69;
}
.converter-block .converter-block-side .converter-get-currency,
.converter-block .converter-block-side .converter-give-currency {
  margin: 0;
  padding: 0;
  height: 398px;
  overflow: auto;
}
.converter-block .converter-block-side .converter-get-currency::-webkit-scrollbar,
.converter-block .converter-block-side .converter-give-currency::-webkit-scrollbar {
  width: 8px;
  background-color: #36373C;
  opacity: 0.33;
  border-radius: 10px;
}
.converter-block .converter-block-side .converter-get-currency::-webkit-scrollbar-thumb,
.converter-block .converter-block-side .converter-give-currency::-webkit-scrollbar-thumb {
  width: 2px;
  border: 1px solid #36373C;
  background-color: #558ac7;
  border-radius: 10px;
}
.converter-block .converter-block-side .converter-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}
.converter-block .converter-block-side .converter-button-container .converter-button {
  cursor: pointer;
  padding: 15px 35px;
  border-radius: 3px;
  background: #558ac7;
  font-size: 18px;
  line-height: 22px;
}
.converter-block .converter-block-side .converter-button-container .converter-button:hover {
  transition: 0.5s ease;
  background: #4577b0;
}
.converter-block .converter-button__reverse {
  position: absolute;
  transform: translateX(0%);
  top: 34px;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  border: 7px solid #555659;
  background: url("https://www.konvert.gg/wp-content/uploads/converter/images/white-gray switch.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 57px;
}
.converter-block .second-block {
  opacity: 0;
}

.form-block {
  margin: 0 auto;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3e4046;
  visibility: hidden;
  opacity: 0;
  box-sizing: border-box;
  display: none;
}
.form-block .form-block__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 20px;
}
.form-block .form-block__input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 17px;
  border-radius: 3px;
  background: #555659;
  box-sizing: border-box;
  border: none;
  color: #fff;
}
.form-block .form-block__form {
  display: flex;
  justify-content: space-between;
}
.form-block .form-block__form .form-block__left {
  width: 48%;
}
.form-block .form-block__form .form-block__right {
  width: 48%;
}
.form-block .form-block__form .form-block__data {
  flex-basis: 50%;
  box-sizing: border-box;
}
.form-block .form-block__form .form-block__data label {
  max-width: fit-content;
  line-height: 30px;
  color: #fff;
}
.form-block .form-block__form .form-block__data .form-block__input:focus {
  outline: none;
}
.form-block .form-block__form .form-block__data__messenger {
  margin-top: -8px;
}
.form-block .form-block__form .form-block__messenger-title {
  padding-bottom: 11px;
}
.form-block .form-block__form .form-block__messenger-list {
  display: flex;
  gap: 38px;
}
.form-block .form-block__form .form-block__messenger {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 13px;
}
.form-block .form-block__form .form-block__messenger img {
  width: 40px;
}
.form-block .form-block__send {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-block .form-block__send .form-block__help {
  text-decoration: none;
}
.form-block .form-block__send .form-block__button {
  font-family: "Source Sans Pro";
  border: none;
  pointer-events: all;
  white-space: nowrap;
  border-radius: 3px;
  padding: 15px 35px;
  text-align: center;
  color: #fff;
  background: #558ac7;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.form-block .form-block__send .form-block__button:hover {
  transition: 0.5s ease;
  background: #4577b0;
}
.form-block .form-block__send .form-block__policy {
  color: red;
}
.form-block .form-block__send .form-block__division {
  padding-top: 35px;
  padding-bottom: 35px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
}
.form-block .form-block__send .form-block__checkbox {
  padding-bottom: 13px;
  color: grey;
}

.form-block__button.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.form-block__button.disabled:hover {
  background: #558ac7 !important;
}

.active {
  border-left: 3px solid #558ac7;
  background: #565b69;
}

.active:before {
  position: absolute;
  width: 22px;
  height: 22px;
  content: "";
  right: 20px;
  background-color: #558ac7;
  border-radius: 50%;
  background-image: url("https://www.konvert.gg/wp-content/uploads/converter/images/done1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity, 0.5s ease;
  display: block;
}

.display {
  opacity: 0;
  transition: opacity, 0.2s ease;
  display: none;
}

.small {
  border-radius: 4px !important;
  height: 40px !important;
  transition: height, border-radius, 0.5s ease;
}

.small-ul {
  height: 0px !important;
  transition: height, opacity, margin 0.5s ease;
  opacity: 0;
  margin: 0;
}

.input-second-block {
  border-radius: 3px !important;
  border-bottom: none !important;
  background-color: #555659 !important;
  transition: border-radius, background-color, border, 0.5s ease;
}

.title-get-second-block {
  text-align: end !important;
  display: block !important;
  border-radius: 4px !important;
  margin-bottom: 31px !important;
  margin-top: -4px !important;
  transition: border-radius 0.5s ease;
  text-transform: uppercase;
}

.small-give__label {
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 25px;
  line-height: 80%;
  color: white;
  position: absolute;
  right: 42px;
}
.small-give__label img {
  height: 30px;
  margin: 0 7px;
}

.small-get__label {
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 25px;
  line-height: 80%;
  color: white;
  position: absolute;
  right: 15px;
}
.small-get__label img {
  height: 30px;
  margin: 0 7px;
}

.popup {
  filter: drop-shadow(-2px 1px 40px black);
  left: 497px;
  top: 230px;
  position: absolute;
  margin: 0;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  background: url(../images/PopUp.svg);
  width: 900px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup .popup-header {
  margin: 0;
  padding-top: 48px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
.popup .popup-content {
  margin: 0;
  padding: 20px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.popup-hidden {
  display: none;
}

.wrapper-filter {
  filter: blur(1px);
}

@media (min-width: 1200px) {
  .converter-block-side {
    flex-basis: 520px;
  }
  .form-block {
    min-width: 1060px;
    width: 1060px;
  }
}
@media (max-width: 1200px) {
  .converter-block-side {
    flex-basis: 430px;
  }
  .form-block {
    min-width: 880px;
  }
}
@media (max-width: 992px) {
  .converter-block-side {
    flex-basis: 310px;
  }
  .form-block {
    min-width: 640px;
  }
}
@media (max-width: 674px) {
  .converter-block-side {
    flex-basis: 210px;
  }
  .converter-block .converter-block-side .converter-button-container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .form-block {
    min-width: 440px;
  }
}
@media (max-width: 474px) {
  .converter-block-side {
    flex-basis: 146px;
  }
  .converter-block-side .converter-button {
    width: 146px;
    padding: 7px 12px;
  }
  .converter-block-side .side-title {
    text-align: center;
    width: 100%;
    padding: 15px 0px;
  }
  .converter-block-side .converter-get-title {
    padding: 15px 0px;
  }
  .converter-block .converter-block-side .side-title {
    font-size: 25px;
    line-height: 80%;
    color: #FFFFFF;
    margin-bottom: 17px;
    padding: 15px 0;
    display: inline-block;
    background: #3e4046;
    margin-top: -10px;
    border-radius: 10px;
  }
  .converter-block .converter-block-side .converter-button-container .converter-button {
    cursor: pointer;
    padding: 10px 8px;
    border-radius: 3px;
    background: #148d93;
    font-size: 18px;
    line-height: 22px;
  }
  .form-block {
    min-width: 302px;
  }
}
@media (max-width: 346px) {
  .converter-block {
    gap: 5px;
  }
  .converter-block-side {
    flex-basis: 140px;
  }
}

/*# sourceMappingURL=styles6.css.map */
